<main class="page-default">
  <div class="login">
    <div class="login-top">
      <h3 class="login-top-head">Log In</h3>
      <p class="login-top-sub">Welcome to UMS! Please sign in with the form below</p>
    </div>
    <div class="login-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="login-form-group">
          <input
            class="form-control"
            formControlName="email"
            id="email"
            placeholder="Email"
            required
            type="email"
          >
          <span
            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors && loginForm.controls.email.errors.required"
            class="login-form-error-text">
            This field is required.
          </span>
          <span
            *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors && loginForm.controls.email.errors.email"
            class="login-form-error-text">
            Please provide a valid email.
          </span>
        </div>
        <div class="login-form-group">
          <input
            class="form-control"
            formControlName="password"
            id="password"
            placeholder="Password"
            required
            type="password"
          >
        </div>
        <ui-alert *ngFor="let error of getFormErrors()" [text]="error" class="danger rounded-lg"></ui-alert>
        <a class="login-form-help-text">Having trouble signing in?</a>
        <button [disabled]="!loginForm!.valid" class="btn brand-main rounded-lg text-white hover-enabled !py-3"
                type="submit">
          {{ loading ? '' : 'Sign In' }}
          <ui-spinner *ngIf="loading" lineColor="white"></ui-spinner>
        </button>
      </form>
    </div>
    <div class="login-form-divider">
        <span class="bg-brand-background z-50 px-4">
          <a [routerLink]="'/auth/signup'" class="login-form-divider-link">Sign Up</a> or Sign in with
        </span>
      <hr class="absolute w-full h-[3px] bg-brand-secondary-muted">
    </div>
    <button class="btn success-muted rounded-lg text-white hover-enabled !gap-4" type="submit">
      <fa-icon [icon]="googleIcon"></fa-icon>
      Google
    </button>
  </div>
</main>
